<li id="Homeless-Resources">
   <img src="assets/images/resource-cards.jpg">
   <h4>Homeless Resource Cards</h4>
   <p>
      Do you love serving the urgent needs of the homeless but you’re afraid to hand out money?  The ServePBC team has just posted a great resource!  Our homeless resource cards provide categorized resources for homeless to recieve free services to get the urgent help they need.  The card features hotlines for urgent help, food, shelter and rehab, women and mothers, families, elderly, veterans, medical, and a special message of hope.
      <br><br>
      Print these out yourself (business card size) and pair with an energy bar to hand out when you encounter homeless.  It’s always a great idea to say hello and get to know the person’s name and story.  These cards are great for instances like traffick signal stops when you just aren’t able to establish a new relationship.
   </p>
   <br>
   <span class="download-cards">
     <a href="https://drive.google.com/file/d/0B6XGkz9oUhcMMWhqdFJ0Y1FNNWM/view?usp=sharing" target="_blank">Download v1-1 as a PDF</a>
   </span>
   <span class="buy-cards">
     <a href="http://www.vistaprint.com/category/business-cards.aspx" target="_blank">Affordable business cards</a>
   </span>
</li>
